body {
    background-color: #0F172A;
    /* background-color: #FCF3DA; */
}
h1 {
    color: red;
}
p{
    color: green;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #2d514b;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: underline;
    font-size: 18px;
    color: aliceblue;
}